 input {
    max-width: max-content;
    border-radius: 10px;  
    margin-bottom: 1rem; 
} 

.firstName, 
  .lastName, .md, .Disabled, .helperText, .endIcon, .startIcon, .text, .Text {
    max-width: max-content;
    padding-left: 40px;
    padding-right: 108px;
    padding-top: 18px;
    padding-bottom: 18px;
}


.firstName:hover {
    border: 1px solid #333333    ;
}

.firstName:focus {
    border: 1px solid #2962FF;
    box-shadow: 0 0 0 1px #2962FF;
    outline: none;
}

.lastName{
   border: 1px solid #D32F2F;
}

.lastName:hover {
    border: 1px solid #333333;
}

.lastName:focus {
    outline: none;
    border: 1px solid #D32F2F;
}


.Disabled:disabled  {
    background-color: #E0E0E0;
    color: #9E9E9E;
}


.form {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.container {
    position: relative;
}

.startIconImage {
    position: absolute;
    left: 10px;
    top: 35px;
}

.endIconImage {
    position: absolute;
    left: 265px;
    top: 33px;
}


.sm {
    padding-left: 12px;
    padding-right: 108px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fullSize {
    width: 100%;
    padding-right: 1081px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.helperText:hover {
    border: 1px solid #D32F2F;
}

label {
    display: block;
}